.a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.b{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}
.c{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 
  .s{
    background-color:khaki;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .f{
    background-image: url("src\assets\images\Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }