<br>
<br>
    <div class="container">
        <div class="row">
         <div class="col-lg-6">
            <div class="card " style="width:400px">
                <div class="card-body">
                    <h4 class="card-title">Ac Balance : </h4>
                    <h2 class="centre">
                        
                    </h2>
                </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="card " style="width:400px">
                <div class="card-body">
                    <h4 class="card-title">Debit </h4>
                    <br>
                    <div class="card " >
                        <div class="card-body">
                            <h4 class="card-title">Cheque</h4>
                            <button  class="btn btn-primary " (click)=cheque()>Debit</button>
                        </div>
                    </div>
                    <br><br>
                    <div class="card " >
                        <div class="card-body">
                            <h4 class="card-title">Slip </h4>
                            <button class="btn btn-primary" (click)=slip()>Debit</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>    

