<div class="f">
    <br>
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-4">
            <br><br>
            <div class="card">
                <img class="center" src="assets\images\user.png" width="250" height="250">
                <div class="card-body">
                    <div class="container">
                        <h3 class=" card=title text-center b ">Login</h3>
                        <br>
                        <div class="card">
                            <div class="container">
                                <div class="container ">
                                    <br>
                                    <form name="form" (ngSubmit)="f.form.valid && validate()" #f="ngForm" novalidate>
                                        <div class="form-group">
                                            <label for="username"> Username :</label>
                                            <input required type="email" class="form-control" 
                                                 placeholder="Enter your email address"
                                                name="username" [(ngModel)]="login.username" #username="ngModel"
                                                [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
                                                required />
                                            <div *ngIf='f.submitted && username.invalid && username.errors '
                                                class="invalid-feedback c">
                                                <div [hidden]='!username.errors.required'> *Provide Username </div>
                                                <div *ngIf='username.errors.type'>*Invalid username
                                                </div>
                                        
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password : </label>
                                            <input type="password" class="form-control"
                                                placeholder="Enter your password" name="password"
                                                [(ngModel)]="login.password" #password="ngModel"
                                                [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required />
                                            <div *ngIf='f.submitted && password.invalid && password.errors '
                                                class="invalid-feedback c">
                                                <div [hidden]='!password.errors.required'> *Provide password </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group text-center">
                                            <button class="btn btn-primary">Login</button>
                                        </div>
                                        <br>
                                    </form>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 "></div>
</div><br><br><br>
</div>