
<div class="container">
    <br><br>
    <h3>Login</h3>
        <div class="form-group">
            <label>Username : </label>
            <input required type="email" name="username" [(ngModel)]="login.username" class="form-control">
            <label>Password : </label>
            <input required type="password" name="password" [(ngModel)]="login.password" class="form-control">
            <br>
            <button type="submit" value="login" class="btn btn-success" (click)="validate()">Login</button>
        </div>
</div>

<div  *ngIf="check1">
    <h1>Login successful</h1>
</div>
<div  *ngIf="check">
    <h1>Login unsuccessful</h1>
</div>