<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Credit amount using slip</h3>
                <form name="form" (ngSubmit)="f.form.valid && credit_using_slip()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="accountNo"> Account no:</label>
                        <input type="number" class="form-control" name="accountNo" [(ngModel)]="slip.accountNo" #accountNo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && accountNo.invalid }" required />
                        <div *ngIf="f.submitted && accountNo.invalid" class="invalid-feedback">
                            <div *ngIf="accountNo.errors.required">AccountNo is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount : </label>
                        <input type="text" class="form-control" name="amount" [(ngModel)]="slip.amount" #amount="ngModel" [ngClass]="{ 'is-invalid': f.submitted && amount.invalid }" required />
                        <div *ngIf="f.submitted && amount.invalid" class="invalid-feedback">
                            <div *ngIf="amount.errors.required">Amount is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Debit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>