<body>
    <nav  class="navbar navbar-light bg-light ">
        <a class="navbar-brand font-weight-bold " href="#">
          CRUD OPERATIONS ON EMPLOYEES 
        </a>
        <ul  class="nav justify-content-end">
           <li class="nav-item"> </li>
           <li class="nav-item">
              <a class=" nav-link" href="#"></a>
           </li>
           <li class="nav-item">
             <a class="btn btn-primary" routerLinkActive="active" routerLink="Login">Login</a>
           </li>
           <li class="nav-item">
              <a class=" nav-link" href="#"></a>
           </li>
  
        </ul>
    </nav>
    <router-outlet></router-outlet>
  </body>  