<div class="f"><br>
    <br>
    <div class="container ">
        <div class="row">
            <div class="col-lg-6">
                <div class="card " style="width:75%">
                    <div class="card-body">
                        <img class="center" src="assets\images\balance.png" width="150" height="150"
                            alt="Card image cap">
                        <h4 class="card-title text-center b">Ac Balance : </h4>
                        <h2 class="centre text-center b">
                            Rs.{{balance}}.00
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card " style="width:400px">
                    <div class="card-body">
                        <h4 class="card-title text-center b">Transactions </h4>
                        <br>
                        <div class="card ">
                            <div class="card-body">
                                <img class="center" src="assets\images\debit.png" width="150" height="150"
                                    alt="Card image cap">
                                <br>
                                <button class="btn btn-primary center " (click)=debit()>Debit</button>
                            </div>
                        </div>
                        <br><br>
                        <div class="card ">
                            <div class="card-body">
                                <img class="center" src="assets\images\credit.png" width="150" height="150"
                                    alt="Card image cap">
                                <br>
                                <button class="btn btn-primary center " (click)=credit()>Credit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
            </div>

        </div>