<br>
<br>
    <div class="row">
        <div class="col-md-2"></div>
         <div class="col-md-4">
            <div class="card ">
                <div class="card-body">
                    <h3 class="card-title">Ac Balance : </h3>
                </div>
                <div>
                    <h2 class="centre">
                        {{balance}}
                    </h2>
                </div>
            </div>
         </div>
         <div class="col-md-4">
             

        </div>
         <div class="col-md-2"></div>
    </div>    

